{% extends 'app/base.html' %}

{% block title %} Home {% endblock %}
{% block content %}
{% with current_time=now %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h1 class="h3">{{form.instance.get_display_name}}</h1>
                        <h2 class="h5">{{form.instance.code_pull_request.pr_owner_username}} created this pr
                            {{ form.instance.code_pull_request.pr_created_at|timesince }} ago</h2>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            {{form.instance.code_pull_request.pr_body}}
                        </div>
                    </div>
                    <div>Code PR: {{form.instance.code_pull_request.get_url}}</div>
                    <div>Doc PR: {{form.instance.documentation_pull_request.get_url}}</div>
                    <div>Status: {{form.instance.get_pull_request_status_display}}</div>
                    {% block form_data %} {% endblock form_data %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endblock content %}