django
requests
pygithub
colorlog
django-extensions
pyjwt
cryptography
python-json-logger
gunicorn
dj-database-url
psycopg2
whitenoise
sentry-sdk
rq
django-rq
ftd-django==0.1.1
python-gitlab
django-allauth