{% extends 'base.html' %}
{% block content %}
<!--content:start-->
<div class="parent-container">
    <div class="container">

        <!--breadcrumb:start-->
        <nav class="breadcrumb">
            <a href="#" class="main-cta-primary-base"><span class="iconify main-text"
                    data-icon="octicon:repo-16"></span>{{repo_mapping.code_repo.owner.account_name}}</a>
            <div class="repo">
                <span class="iconify main-text" data-icon="octicon:link-16"></span>
                <a href="#" class="repo-item main-cta-primary-base">{{repo_mapping.code_repo.repo_full_name}}</a>
                <a href="#"
                    class="repo-item main-cta-primary-base">{{repo_mapping.documentation_repo.repo_full_name}}</a>
            </div>
            <a href="#" class="main-text-strong">
                <span class="iconify main-text" data-icon="octicon:git-pull-request-16"></span>Pull requests</a>
        </nav>
        {% if open_prs %}
        <!--search:start-->
        <div class="search">
            <input type="text" placeholder="search" name="">
        </div>
        <!--doc-history:start-->
        {% endif %}
        {% if open_prs %}
        <div class="doc-history">
        {% else %}
        <div class="doc-history empty_row">
        {% endif %}
            <!--Row-->
            {% for monitored_pr in open_prs %}

            {% with code_pr_number=monitored_pr.code_pull_request.pr_number|stringformat:"s" documentation_pr_number=monitored_pr.documentation_pull_request.pr_number|stringformat:"s" %}
            {% with code_pr_name="#"|add:code_pr_number|add:" "|add:monitored_pr.code_pull_request.pr_title %}
            { % 'title':"{{'jjj'}} %s"}
            <div class="doc-history-row">
                {% if monitored_pr.pull_request_status == "NOT_CONNECTED" %}
                <div class="row-left">
                    <div class="cell-group">
                        <a href="{{monitored_pr.code_pull_request.get_url}}" class="cell-item item-top main-text"><span class="iconify"
                                data-icon="octicon:code-16"></span>{{ code_pr_name }}</a>
                        <span class="cell-item main-error-text"><span class="iconify"
                                data-icon="octicon:note-16"></span>{{monitored_pr.get_pull_request_status_display}}</span>
                    </div>
                </div>
                <div class="row-right">
                    <a href="javascript:void(0)" class="cta cta-primary open-attach-documentation" data-code-pr-title="{{code_pr_name|escapejs}}"
                    data-documentation-pr-title="{{documentation_pr_name|escapejs}}" data-code-pr-id="{{code_pr_number}}">Connect</a>
                </div>
                {% elif monitored_pr.pull_request_status == "MANUALLY_APPROVED" %}
                <div class="row-left">
                    <div class="cell-group">
                        <a href="{{monitored_pr.code_pull_request.get_url}}" class="cell-item item-top main-text"><span class="iconify"
                                data-icon="octicon:code-16"></span>{{ code_pr_name }}</a>
                        <span class="cell-item main-error-text"><span class="iconify"
                                data-icon="octicon:note-16"></span>{{monitored_pr.get_pull_request_status_display}}</span>
                    </div>
                </div>
                <div class="row-right">
                    <span  class="approved main-success-text">Approved</span>
                    <div class="user main-text">
                        by <a href="#" class="username main-text">{{monitored_pr.get_latest_approval.approver.github_user.account_name}}</a> {{monitored_pr.get_latest_approval.created_on|timesince}} ago
                    </div>
                </div>
                {% else %}
            
                {% with documentation_pr_name="#"|add:documentation_pr_number|add:" "|add:monitored_pr.documentation_pull_request.pr_title %}
                {% if monitored_pr.pull_request_status == "APPROVED" %}
                <div class="row-left">
                    <div class="cell-group">
                        <span class="iconify main-cta-secondary-base" data-icon="octicon:link-16"></span>
                        <a href="{{monitored_pr.code_pull_request.get_url}}" class="cell-item item-top main-text"><span class="iconify"
                                data-icon="octicon:code-16"></span>#{{code_pr_name}}</a>
                        <a href="{{monitored_pr.documentation_pull_request.get_url}}" class="cell-item main-text-strong"><span class="iconify"
                                data-icon="octicon:note-16"></span>{{documentation_pr_name}}</a>
                    </div>
                </div>
                <div class="row-right">
                    <span  class="approved main-success-text">Approved</span>
                    <div class="user main-text">
                        by <a href="#" class="username main-text">{{monitored_pr.get_latest_approval.approver.github_user.account_name}}</a> {{monitored_pr.get_latest_approval.created_on|timesince}} ago
                    </div>
                </div>
                {% else %}
                {% comment %}Expected states `APPROVAL_PENDING`, `STALE_CODE` or `STALE_APPROVAL`{% endcomment %}
                <div class="row-left">
                    <div class="cell-group">
                        <span class="iconify main-cta-secondary-base" data-icon="octicon:link-16"></span>
                        <a href="{{monitored_pr.code_pull_request.get_url}}" class="cell-item item-top main-text"><span class="iconify"
                                data-icon="octicon:code-16"></span>{{code_pr_name}}</a>
                        <a href="{{monitored_pr.documentation_pull_request.get_url}}" class="cell-item main-text-strong"><span class="iconify"
                                data-icon="octicon:note-16"></span>{{documentation_pr_name}}</a>
                    </div>
                </div>
                <div class="row-right visible hide-on-approval">
                    <a href="#" class="cta cta-primary open-approval-modal" data-code-pr-title="{{code_pr_name|escapejs}}"
                        data-documentation-pr-title="{{documentation_pr_name|escapejs}}" data-code-pr-id="{{code_pr_number}}">Approve</a>
                </div>
                {% endif %}
                {% endwith %}
                {% endif %}
            </div>
            {% endwith %}
            {% endwith %}
            {% empty %}
                <p class="empty_row">No recent entries found</p>
            {% endfor %}
            <!--Row-->
        </div>

        <!--modal:start-->
        <div class="modal warning get-approval" id="approval-modal">
            <div class="modal-parent">
                <div class="modal-container">
                    <div class="modal-dialog">
                        <div class="modal-title main-text-strong">
                            Approve Changes
                            <span class="close"><span class="iconify" data-icon="ep:close-bold"></span></span>
                        </div>

                        <div class="modal-body">

                            <div class="body-row">
                                <div class="cell-group modal-item">
                                    <span class="iconify main-cta-secondary-base" data-icon="octicon:link-16"></span>
                                    <a href="#" class="cell-item item-top main-text"><span class="iconify"
                                            data-icon="octicon:code-16"></span><span
                                            class="code_pr_title"></span></a>
                                    <a href="#" class="cell-item main-text-strong"><span class="iconify"
                                            data-icon="octicon:note-16"></span><span
                                            class="documentation_pr_title"></span></a>
                                </div>
                            </div>

                            <div class="body-row modal-msg main-text">
                                You hereby declare that you’ve verified that the <strong>implemented code</strong>
                                exactly matches <strong>the documentation,</strong> and is ready for merge.
                                <br /><br />You take full responsibility for this approval

                            </div>

                            <form class="github-username-confirmation-box" id="approve-pr-form" method="POST" >
                                {% csrf_token %}
                                <input type="hidden" value="APPROVED" name="approve_pull_request" />
                                <input type="hidden" name="action" value="approve_pr"  />
                                <div class="body-row userinput main-text">
                                    <input type="text" name="github_username" class="github-username-confirmation" placeholder="Type your Github username to confirm">
                                </div>
                                <div class="body-row cta-row">
                                    <button disabled type="submit" class="cta cta-disabled">Confirm</button>
                                </div>
                            </form>

                            <div class="body-row caption main-text">
                                Note: Please ask the Dev/Documentor to come in sync if this is not the case
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal:end-->

        <!--modal:start-->
        <div class="modal warning" id="manual-code-approval-modal">
            <div class="modal-parent">
                <div class="modal-container">
                    <div class="modal-dialog pb0">
                        <div class="modal-title main-text-strong">
                            Are you sure?
                            <span class="close main-text"><span class="iconify" data-icon="octicon:x-16"></span></span>
                            <span class="goback back-to-attach-documentation main-text"><span class="iconify"
                                    data-icon="octicon:arrow-left-24"></span></span>
                        </div>

                        <div class="modal-body mt12 pt0 pb22 mhz40">
                            <div class="body-row main-text">
                                You are declaring that the following pull request
                            </div>
                            <div class="body-row mt31">
                                <div class="cell-group no-bracket large modal-item">
                                    <a href="#" class="cell-item main-text-strong"><span class="iconify"
                                            data-icon="octicon:code-16"></span><span class="pr_title"></span></a>
                                </div>
                            </div>

                            <div class="body-row modal-msg mt11 main-text">
                                does not need any associated documentation.
                                <br /><br />This action should be used sparingly. It may be reviewed by your
                                Manager, and will affect your organizations’ dev statistics

                            </div>
                            <form method="POST" class="github-username-confirmation-box" id="manual-approval-form">
                                <input type="hidden" name="action" value="manual_pr_approval"  />
                                <div class="body-row userinput main-text">
                                    <input type="text" class="github-username-confirmation" placeholder="Type your Github username to confirm" name="github_username">
                                </div>
                                <input type="hidden" name="code_pull_request"  />
                                
                                <div class="body-row cta-row">
                                    <button disabled type="submit" class="cta cta-disabled">Confirm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal:end-->

        <!--modal:start-->
        <div class="modal warning confirm-part2">
            <div class="modal-parent">
                <div class="modal-container">
                    <div class="modal-dialog pb0">
                        <div class="modal-title main-text-strong">
                            Are you sure?
                            <span class="close main-text"><span class="iconify" data-icon="octicon:x-16"></span></span>
                            <span class="goback back-confirm-part2 main-text"><span class="iconify"
                                    data-icon="octicon:arrow-left-24"></span></span>
                        </div>

                        <div class="modal-body mt12 pt0 pb22">
                            <div class="body-row main-text">
                                You are declaring that the following pull request
                            </div>
                            <div class="body-row mt31">
                                <div class="cell-group no-bracket large modal-item">
                                    <a href="#" class="cell-item main-text-strong"><span class="iconify"
                                            data-icon="octicon:code-16"></span>#222 Code PR Name</a>
                                </div>
                            </div>

                            <div class="body-row modal-msg mt11 main-text">
                                does not need any associated documentation.
                                <br /><br />Use this only to do Documentation for deployed code, or improve existing
                                documentation

                            </div>

                            <div class="body-row cta-row">
                                <a href="#" class="cta cta-disabled">Confirm</a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal:end-->


        <!--modal:start-->
        <div class="modal regular attach-code-pr">
            <div class="modal-parent">
                <div class="modal-container">
                    <div class="modal-dialog large-dialog pb0">
                        <div class="modal-title main-text-strong">
                            Attach Code PR
                            <span class="close main-text"><span class="iconify" data-icon="octicon:x-16"></span></span>
                        </div>

                        <div class="modal-body pt12">
                            <div class="body-row main-text">
                                A healthy code always carry good Documentation
                                <br />
                                Attach one for:
                            </div>
                            <div class="body-row mt27">
                                <div class="cell-group no-bracket large modal-item">
                                    <a href="#" class="cell-item main-text-strong"><span class="iconify"
                                            data-icon="octicon:note-16"></span>#222 Documentation PR Name</a>
                                </div>
                            </div>

                            <div class="body-row modal-msg mt27 main-text">
                                <!--search:start-->
                                <div class="search">
                                    <input type="text" placeholder="search" name="">
                                </div>
                            </div>
                            <div class="group-list">
                                <div class="body-row bordered-list">
                                    <!--Row-->
                                    <div class="dialog-history-row">
                                        <div class="row-left">
                                            <div class="cell-group no-bracket modal-item">
                                                <a href="#" class="cell-item main-text"><span class="iconify"
                                                        data-icon="octicon:code-16"></span>#222 Code PR Name</a>
                                            </div>
                                        </div>
                                        <div class="row-right">
                                            <a href="#" class="cta cta-primary hidden connect">Connect</a>
                                        </div>
                                    </div>
                                    <!--Row-->
                                </div>
                                <div class="body-row bordered-list">
                                    <!--Row-->
                                    <div class="dialog-history-row">
                                        <div class="row-left">
                                            <div class="cell-group no-bracket modal-item">
                                                <a href="#" class="cell-item main-text"><span class="iconify"
                                                        data-icon="octicon:code-16"></span>#222 Code PR Name</a>
                                            </div>
                                        </div>
                                        <div class="row-right">
                                            <a href="#" class="cta cta-primary hidden connect">Connect</a>
                                        </div>
                                    </div>
                                    <!--Row-->
                                </div>
                                <div class="body-row bordered-list">
                                    <!--Row-->
                                    <div class="dialog-history-row">
                                        <div class="row-left">
                                            <div class="cell-group no-bracket modal-item">
                                                <a href="#" class="cell-item main-text"><span class="iconify"
                                                        data-icon="octicon:code-16"></span>#222 Code PR Name</a>
                                            </div>
                                        </div>
                                        <div class="row-right">
                                            <a href="#" class="cta cta-primary hidden connect">Connect</a>
                                        </div>
                                    </div>
                                    <!--Row-->
                                </div>
                                <div class="body-row bordered-list">
                                    <!--Row-->
                                    <div class="dialog-history-row">
                                        <div class="row-left">
                                            <div class="cell-group no-bracket modal-item">
                                                <a href="#" class="cell-item main-text-strong"><span class="iconify"
                                                        data-icon="octicon:code-16"></span>#222 Code PR Name</a>
                                            </div>
                                        </div>
                                        <div class="row-right">
                                            <a href="#" class="cta cta-primary hidden connect">Connect</a>
                                        </div>
                                    </div>
                                    <!--Row-->
                                </div>
                                <div class="body-row bordered-list">
                                    <!--Row-->
                                    <div class="dialog-history-row">
                                        <div class="row-left">
                                            <div class="cell-group no-bracket modal-item">
                                                <a href="#" class="cell-item main-text"><span class="iconify"
                                                        data-icon="octicon:code-16"></span>#222 Code PR Name</a>
                                            </div>
                                        </div>
                                        <div class="row-right">
                                            <a href="#" class="cta cta-primary hidden connect">Connect</a>
                                        </div>
                                    </div>
                                    <!--Row-->
                                </div>
                            </div>
                            <div class="body-row mt70 tc main-warning-base lh16">
                                <div class="text-to-bottom"><a href="#"
                                        class="main-warning-base open-con open-confirm-part2">This code change
                                        doesn't need documentation</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal:end-->


        <!--modal:start-->
        <div class="modal regular" id="attach-documentation-modal">
            <div class="modal-parent">
                <div class="modal-container">
                    <div class="modal-dialog large-dialog pb0">
                        <div class="modal-title main-text-strong">
                            Attach Documentation
                            <span class="close"><span class="iconify" data-icon="octicon:x-16"></span></span>
                        </div>

                        <div class="modal-body pt12">
                            <div class="body-row main-text">
                                A healthy code always carry good Documentation
                                <br />
                                Attach one for:
                            </div>
                            <div class="body-row mt27">
                                <div class="cell-group no-bracket large modal-item">
                                    <a href="#" class="cell-item main-text-strong"><span class="iconify"
                                            data-icon="octicon:note-16"></span><span class="pr_title"></span></a>
                                </div>
                            </div>

                            <div class="body-row modal-msg mt27 main-text">
                                <!--search:start-->
                                <div class="search">
                                    <input type="text" placeholder="search" name="">
                                </div>
                            </div>
                            <div class="group-list">
                                <!--Row-->
                                {% for doc_pr in all_documentation_prs %}
                                <form method="POST" class="connect-documentation-pr-form body-row bordered-list">
                                    {% csrf_token %}
                                    <input type="hidden" name="documentation_pull_request" value="{{ doc_pr.id }}"/>
                                    <input type="hidden" name="action" value="connect_documentation_pr"  />
                                    <div class="dialog-history-row">
                                        <div class="row-left">
                                            <div class="cell-group no-bracket modal-item">
                                                <a href="#" class="cell-item main-text"><span class="iconify"
                                                        data-icon="octicon:code-16"></span>#{{doc_pr.pr_number}} {{doc_pr.pr_title}}</a>
                                            </div>
                                        </div>
                                        <div class="row-right">
                                            <button type="submit" class="cta cta-primary hidden connect">Connect</button>
                                        </div>
                                    </div>
                                </form>
                                {% endfor %}
                                <!--Row-->
                            </div>
                            <div class="body-row mt70 tc main-warning-base lh16">
                                <div class="text-to-bottom"><a href="#"
                                        class="main-warning-base" id="open-manual-code-approval">This code change doesn't need
                                        documentation</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal:end-->
    </div>
</div>
{% endblock %}

{% block postcontent %}
<!--SCRIPTS-->
<script type="text/javascript">
    function objectifyForm(formArray) {
        //serialize data function
        // var formdata = $("#myform").serializeArray();
        var data = {};
        $(formArray).each(function(index, obj){
            data[obj.name] = obj.value;
        });
        return data;
        // var returnArray = {};
        // for (var i = 0; i < formArray.length; i++){
        //     returnArray[formArray[i]['name']] = formArray[i]['value'];
        // }
        // return returnArray;
    }
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // $(".open-get-approval").click(function () {
    // });
    $(".close").click(function () {
        $(".modal").removeClass('opened');
        $(".github-username-confirmation-box .github-username-confirmation").val("").trigger("change");
    });
    $("#open-manual-code-approval").click(function () {
        $("#attach-documentation-modal").removeClass('opened');
        $("#manual-code-approval-modal .pr_title").html($(this).attr("data-code-pr-title"));
        $("#manual-approval-form").attr("action", "/{{repo_mapping.code_repo.repo_full_name}}/pull/"+$(this).attr("data-code-pr-id")+"/");
        $("#manual-code-approval-modal").addClass("opened");
    });
    $(".open-confirm-part2").click(function () {
        $(".attach-code-pr").removeClass("opened");
        $(".confirm-part2").addClass("opened");
    });
    $(".back-confirm-part2").click(function () {
        $(".confirm-part2").removeClass("opened");
        $(".attach-code-pr").addClass("opened");
    });
    $(".open-attach-code-pr").click(function () {
        $(".attach-code-pr").addClass("opened");
    });
    $(".open-attach-documentation").click(function () {
        $("#attach-documentation-modal .pr_title").html($(this).attr("data-code-pr-title"));
        $("#open-manual-code-approval").attr("data-code-pr-id", $(this).attr("data-code-pr-id"));
        $("#open-manual-code-approval").attr("data-code-pr-title", $(this).attr("data-code-pr-title"));
        $("#attach-documentation-modal .connect-documentation-pr-form").attr("action", "/{{repo_mapping.code_repo.repo_full_name}}/pull/"+$(this).attr("data-code-pr-id")+"/");
        $("#attach-documentation-modal").addClass("opened");
    });
    $(".back-to-attach-documentation").click(function () {
        $("#attach-documentation-modal").addClass("opened");
        $("#manual-code-approval-modal").removeClass("opened")
    });
    $(".show-approved-state").click(function () {
        $(".show-on-approval").show();
        $(".hide-on-approval").hide();
        $(".get-approval").removeClass("opened");
    });
    $(".open-approval-modal").click(function() {
        $("#approval-modal .code_pr_title").html($(this).attr("data-code-pr-title"));
        $("#approval-modal .documentation_pr_title").html($(this).attr("data-documentation-pr-title"));
        $("#approve-pr-form").attr("action", "/{{repo_mapping.code_repo.repo_full_name}}/pull/"+$(this).attr("data-code-pr-id")+"/");
        $("#approval-modal").addClass('opened');
    })
    // window.CURRENT_USERNAME=;
    $(".github-username-confirmation-box .github-username-confirmation").on("keyup change", function() {
        current_val = $(this).val();
        success_btn = $(this).parents(".github-username-confirmation-box").find("button")
        if (current_val != "{{request.user.github_user.account_name|escapejs}}") {
            success_btn.removeClass("cta-warning").addClass("cta-disabled").attr("disabled", true);
        } else {
            success_btn.removeClass("cta-disabled").addClass("cta-warning").removeAttr("disabled");
        }
    })
    $.ajaxSetup({
        headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json',
            "X-CSRFToken": getCookie('csrftoken'),
            "mode": 'same-origin' // Do not send CSRF token to another domain.
        }
    });

    $("form").submit(function() {
        data = objectifyForm($(this).serializeArray());
        console.log(data);
        $.ajax({
            url: $(this).attr("action"),
            method: $(this).attr("method"),
            data: JSON.stringify(data),
            dataType: 'json',
            success: function(data) {
                location.reload();
            }
        })
        return false;
    });
</script>
{% endblock postcontent %}