{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated %}

<div class="parent-container">
    <div class="container">

        <!--breadcrumb:start-->
        <nav class="breadcrumb">
            <a href="#" class="main-text-strong ml10">
                <span class="iconify main-text" data-icon="octicon:git-pull-request-16"></span>Connections</a>
        </nav>
        <!--search-with-button-->
        <div class="search-with-button">
            <!--search:start-->
            <div class="search">
                <form method="GET">
                    <input type="text" placeholder="search" name="q" value="{{q}}"/>
                </form>
            </div>
            <div class="new_connections">
                 <a id="open-new-repo-connection-modal" class="cta cta-primary">+ New connection</a>
            </div>
        </div>
        <!--search-with-button-->
        <div class="doc-history">
            {% for repo_map in all_repo_map %}
                <div class="doc-history-row">
                    <div class="row-left full-width">
                        <div class="cell-group">
                            <a href="{{repo_map.code_repo.get_url}}" class="cell-item item-top main-text"><span class="iconify"
                                    data-icon="octicon:code-16"></span>{{repo_map.code_repo.repo_full_name}}</a>
                            <a href="{{repo_map.documentation_repo.get_url}}" class="cell-item main-text"><span class="iconify"
                                    data-icon="octicon:note-16"></span>{{repo_map.documentation_repo.repo_full_name}}</a>
                        </div>
                    </div>
                    <div class="row-right full-width">
                        <div class="clickable-row" style="cursor: pointer;">
                            <a href="/{{repo_map.code_repo.repo_full_name}}/pulls" class="cta cta-primary">&gt;</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="modal regular" id="attach-documentation-modal">
    <div class="modal-parent">
        <div class="modal-container">
            <div class="modal-dialog pb0">
                <div class="modal-title main-text-strong">
                    Attach Repositories
                    <span class="close"><span class="iconify" data-icon="octicon:x-16"></span></span>
                </div>

                <div class="modal-body pt12">
                    <div class="body-row main-text">
                        A healthy code always carry good Documentation
                        <br />
                        Attach one for:
                    </div>

                    <div class="body-row modal-msg mt27 main-text">
                        <!--search:start-->
                        <form method="POST" action="" id="attach-repos-form">
                            <!--tabled-row-->
                            <div class="tabled-row">
                                <div class="row-left">
                                    Code Repository:
                                </div>
                                <div class="row-right">
                                    <select name="code_repo_id" class="combo_black">
                                        {% for repo in available_repos_for_mapping %}
                                        <option value="{{repo.id}}">{{repo.repo_full_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="row-left">
                                    Documentation Repository:
                                </div>
                                <div class="row-right">
                                    <select name="documentation_repo_id" class="combo_black">
                                    {% for repo in available_repos_for_mapping %}
                                    <option value="{{repo.id}}">{{repo.repo_full_name}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="row-left">
                                </div>
                                <div class="row-right button-row">
                                    <input type="hidden" name="integration_id" value="{{current_installation.id}}" />
                                    <input type="hidden" name="integration_type" value="FULL" />
                                    <button type="submit" class="cta cta-primary">Attach</button>
                                </div>
                            </div>
                            <!--tabled-row-->
                            
                        </form>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="modal warning opened" id="manual-code-approval-modal">
    <div class="modal-parent">
        <div class="modal-container">
            <div class="modal-dialog pb0">
                <div class="modal-title pb22 mt31 main-text-strong">
                    Login to Github
                </div>

                <div class="modal-body mt70 pt0 pb45 pb22 mhz40">
                    <div class="body-row main-text">
                        Click below to login with your Github account:
                    </div>
                    <div class="body-row mt31 github-filled cta-row">
                          <button type="submit" class="cta cta-primary github_login_url">Sign In With Github <span class="iconify"
                        data-icon="ant-design:github-filled"></span></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% block postcontent %}
<!--SCRIPTS-->

{% if request.user.is_authenticated %}
<script>
    $(".close").click(function () {
        $(".modal").removeClass('opened');
    });

    function objectifyForm(formArray) {
        var data = {};
        $(formArray).each(function(index, obj){
            data[obj.name] = obj.value;
        });
        return data;
    }
    $("#open-new-repo-connection-modal").click(function(){
        $("#attach-documentation-modal").addClass("opened");
    });
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $.ajaxSetup({
        headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json',
            "X-CSRFToken": getCookie('csrftoken'),
            "mode": 'same-origin' // Do not send CSRF token to another domain.
        }
    });
    

    $("#attach-repos-form").submit(function() {
        data = objectifyForm($(this).serializeArray());
        if (data["documentation_repo_id"] == data["code_repo_id"]){
            alert("Documentation and Code Repository cannot be same");
            return false;
        }
        console.log(data);
        $.ajax({
            url: $(this).attr("action"),
            method: $(this).attr("method"),
            data: JSON.stringify(data),
            dataType: 'json',
            success: function(data) {
                location.reload();
            }
        })
        return false;
    });
    $(".clickable-row").click(function(){
        window.location.href = `/{{repo_map.code_repo.repo_full_name}}/pulls`;
    });
</script>
{% else %}
<script type="text/javascript">
    $(".github_login_url").click(function(){
        window.location.href = `{{github_login_url}}`;
	});
    $
</script>

{% endif %}

{% endblock postcontent %}